{{#each articles}}
  <div class="container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">{{this.headline}}</div>
        <div class="panel-body">
            <p>{{this.summary}}</p>
        </div>
        <!-- List group -->
        <ul class="list-group" id="{{this._id}}">
              {{#if this.comments.length}}
                <li class="list-group-item ulTitle">Comments:</li>
              {{else}}
            <li id="noComments" class="list-group-item">No Comments Yet!</li>
            {{/if}}
          {{#each this.comments}}
            <li class="list-group-item"><a class="deleteBtn btn btn-danger" href="/delete/{{this._id}}"><i class="fa fa-trash-o fa-lg"></i></a> {{this.body}}</li>
          {{/each}}
        </ul>

        <a class="btn" data-toggle="modal" target="_blank" href="{{this.link}}">
        <i class="fa fa-external-link fa-lg"></i> View Source</a>

        <a class="btn addComment" data-toggle="modal" data-article="{{this._id}}" data-target="#myModal" href="#">
        <i class="fa fa-plus fa-lg"></i> Add Comment</a>
        
        <a class="btn viewComments" data-visible="false" data-article="{{this._id}}" href="#">
        <i class="fa fa-comments fa-lg"></i> View Comments <span>({{this.comments.length}})</span></a>

    </div>
  </div>
 
{{/each}}
